<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
				<key>dateExpires</key>
				<string>27/04/27</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
						<key>dateExpires</key>
						<string>27/04/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KA57X722P</string>
						<key>name</key>
						<string>Rajendra Khope</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
						<key>dateExpires</key>
						<string>27/04/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KA57X722P</string>
						<key>name</key>
						<string>Rajendra Khope</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
						<key>dateExpires</key>
						<string>27/04/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorHaptics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KA57X722P</string>
						<key>name</key>
						<string>Rajendra Khope</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
						<key>dateExpires</key>
						<string>27/04/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KA57X722P</string>
						<key>name</key>
						<string>Rajendra Khope</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
						<key>dateExpires</key>
						<string>27/04/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorMdnsDiscovery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KA57X722P</string>
						<key>name</key>
						<string>Rajendra Khope</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
						<key>dateExpires</key>
						<string>27/04/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KA57X722P</string>
						<key>name</key>
						<string>Rajendra Khope</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
						<key>dateExpires</key>
						<string>27/04/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KA57X722P</string>
						<key>name</key>
						<string>Rajendra Khope</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
						<key>dateExpires</key>
						<string>27/04/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KA57X722P</string>
						<key>name</key>
						<string>Rajendra Khope</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
						<key>dateExpires</key>
						<string>27/04/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KA57X722P</string>
						<key>name</key>
						<string>Rajendra Khope</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
						<key>dateExpires</key>
						<string>27/04/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KA57X722P</string>
						<key>name</key>
						<string>Rajendra Khope</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
						<key>dateExpires</key>
						<string>27/04/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalInAppMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KA57X722P</string>
						<key>name</key>
						<string>Rajendra Khope</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
						<key>dateExpires</key>
						<string>27/04/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalLiveActivities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KA57X722P</string>
						<key>name</key>
						<string>Rajendra Khope</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
						<key>dateExpires</key>
						<string>27/04/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalLocation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KA57X722P</string>
						<key>name</key>
						<string>Rajendra Khope</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
						<key>dateExpires</key>
						<string>27/04/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalNotifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KA57X722P</string>
						<key>name</key>
						<string>Rajendra Khope</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
						<key>dateExpires</key>
						<string>27/04/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KA57X722P</string>
						<key>name</key>
						<string>Rajendra Khope</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
						<key>dateExpires</key>
						<string>27/04/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOutcomes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KA57X722P</string>
						<key>name</key>
						<string>Rajendra Khope</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7A42D1DB607F2AE0F94A9A50DE39C2CF3195C9FD</string>
						<key>dateExpires</key>
						<string>27/04/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalUser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KA57X722P</string>
						<key>name</key>
						<string>Rajendra Khope</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3KA57X722P.com.rajendrakhope.factoryvu2</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3KA57X722P</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7b360d93-eb72-4026-a02d-fdf82c0c118a</string>
				<key>dateExpires</key>
				<string>27/04/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.rajendrakhope.factoryvu2</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3KA57X722P</string>
				<key>name</key>
				<string>Rajendra Khope</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
